@{
    ViewData["Title"] = "Filmes";
}

<section class="mainContainer movieListContainer">
    <h2>Selecione o filme</h2>
    <div class="movieList">
        <div class="row">
            <img class="icon" src="~/images/dvd.png" alt="DVD">
            <img class="movieCover" src="http://allcalidad.com/wp-content/uploads/2016/04/1-191.jpg" alt="Interestelar">
            <p>Interestelar</p>
            <button onclick="showInfo(1)">Info</button>
        </div>
        <div class="row">
            <img class="icon" src="~/images/bluray.png" alt="Blu-Ray">
            <img class="movieCover" src="http://br.web.img2.acsta.net/pictures/18/01/04/18/43/2155615.jpg" alt="Batman vs. Superman - A Origem da Justiça">
            <p>Batman vs. Superman - A Origem da Justiça</p>
            <button onclick="showInfo(2)">Info</button>
        </div>
        <div class="row">
            <img class="icon" src="~/images/bluray.png" alt="Blu-Ray">
            <img class="movieCover" src="http://allcalidad.com/wp-content/uploads/2016/04/1-191.jpg" alt="Interestelar">
            <p>Interestelar</p>
            <button onclick="showInfo(3)">Info</button>
        </div>
        <div class="row">
            <img class="icon" src="~/images/dvd.png" alt="DVD">
            <img class="movieCover" src="http://br.web.img2.acsta.net/pictures/18/01/04/18/43/2155615.jpg" alt="Batman vs. Superman - A Origem da Justiça">
            <p>Batman vs. Superman - A Origem da Justiça</p>
            <button onclick="showInfo(4)">Info</button>
        </div>
    </div>
    <a href="client_panel.php"><button>Voltar ao painel do cliente</button></a>
</section>

<section class="mainContainer movieListContainer">
    <div class="movie hidden" id="movieId1">
        <div class="header">
            <img class="movieCover" src="http://allcalidad.com/wp-content/uploads/2016/04/1-191.jpg" alt="Interestelar">
            <h2>Interestelar</h2>
            <img class="icon" src="~/images/dvd.png" alt="DVD">
        </div>
        <div class="body">
            <p>Ano de lançamento: 2014</p>
            <p>Classificação: 10</p>
            <p>Gênero: ficção científica</p>
            <p>Elenco: -----</p>
            <p>Diretor: Christopher Nolan</p>
            <div class="text">
                <p>Sinopse</p>
                <p>As reservas naturais da Terra estão chegando ao fim e um grupo de astronautas recebe a missão de verificar possíveis planetas para receberem a população mundial, possibilitando a continuação da espécie. Cooper é chamado para liderar o grupo e aceita a missão sabendo que pode nunca mais ver os filhos. Ao lado de Brand, Jenkins e Doyle, ele seguirá em busca de um novo lar.</p>
            </div>
        </div>
        <div class="footer">
            <p>Situação: disponível</p>
            <form action="" method="POST">
                <input type="hidden" name="idUser" value="1">
                <input type="hidden" name="idMovie" value="1">
                <button type="submit">Reservar filme</button>
            </form>
        </div>
    </div>

    <div class="movie hidden" id="movieId2">
        <div class="header">
            <img class="movieCover" src="http://br.web.img2.acsta.net/pictures/18/01/04/18/43/2155615.jpg" alt="Batman vs. Superman - A Origem da Justiça">
            <h2>Batman vs. Superman - A Origem da Justiça</h2>
            <img class="icon" src="~/images/bluray.png" alt="Blu-Ray">
        </div>
        <div class="body">
            <p>Ano de lançamento: 2016</p>
            <p>Classificação: 14</p>
            <p>Gênero: Fantasia</p>
            <p>Elenco: -----</p>
            <p>Diretor: Zack Snyder</p>
            <div class="text">
                <p>Sinopse</p>
                <p>O confronto entre Superman e Zod em Metrópolis fez com que a população mundial se dividisse acerca da existência de extraterrestres na Terra. Enquanto muitos consideram o Superman como um novo deus, há aqueles que consideram extremamente perigoso que haja um ser tão poderoso sem qualquer tipo de controle. Bruce Wayne é um dos que acreditam nesta segunda hipótese. Com isso, sob o manto de um Batman violento e obcecado, eles se enfrentam enquanto o mundo se pergunta que tipo de herói precisa.</p>
            </div>
        </div>
        <div class="footer">
            <p>Situação: disponível</p>
            <form action="" method="POST">
                <input type="hidden" name="idUser" value="1">
                <input type="hidden" name="idMovie" value="1">
                <button type="submit">Reservar filme</button>
            </form>
        </div>
    </div>

    <div class="movie hidden" id="movieId3">
        <div class="header">
            <img class="movieCover" src="http://allcalidad.com/wp-content/uploads/2016/04/1-191.jpg" alt="Interestelar">
            <h2>Interestelar</h2>
            <img class="icon" src="~/images/bluray.png" alt="Blu-Ray">
        </div>
        <div class="body">
            <p>Ano de lançamento: 2014</p>
            <p>Classificação: 10</p>
            <p>Gênero: Ficção Científica</p>
            <p>Elenco: -----</p>
            <p>Diretor: Christopher Nolan</p>
            <div class="text">
                <p>Sinopse</p>
                <p>As reservas naturais da Terra estão chegando ao fim e um grupo de astronautas recebe a missão de verificar possíveis planetas para receberem a população mundial, possibilitando a continuação da espécie. Cooper é chamado para liderar o grupo e aceita a missão sabendo que pode nunca mais ver os filhos. Ao lado de Brand, Jenkins e Doyle, ele seguirá em busca de um novo lar.</p>
            </div>
        </div>
        <div class="footer">
            <p>Situação: disponível</p>
            <form action="" method="POST">
                <input type="hidden" name="idUser" value="1">
                <input type="hidden" name="idMovie" value="1">
                <button type="submit">Reservar filme</button>
            </form>
        </div>
    </div>

    <div class="movie hidden" id="movieId4">
        <div class="header">
            <img class="movieCover" src="http://br.web.img2.acsta.net/pictures/18/01/04/18/43/2155615.jpg" alt="Batman vs. Superman - A Origem da Justiça">
            <h2>Batman vs. Superman - A Origem da Justiça</h2>
            <img class="icon" src="~/images/dvd.png" alt="DVD">
        </div>
        <div class="body">
            <p>Ano de lançamento: 2016</p>
            <p>Classificação: 14</p>
            <p>Gênero: Fantasia</p>
            <p>Elenco: -----</p>
            <p>Diretor: Zack Snyder</p>
            <div class="text">
                <p>Sinopse</p>
                <p>O confronto entre Superman e Zod em Metrópolis fez com que a população mundial se dividisse acerca da existência de extraterrestres na Terra. Enquanto muitos consideram o Superman como um novo deus, há aqueles que consideram extremamente perigoso que haja um ser tão poderoso sem qualquer tipo de controle. Bruce Wayne é um dos que acreditam nesta segunda hipótese. Com isso, sob o manto de um Batman violento e obcecado, eles se enfrentam enquanto o mundo se pergunta que tipo de herói precisa.</p>
            </div>
        </div>
        <div class="footer">
            <p>Situação: disponível</p>
            <form action="" method="POST">
                <input type="hidden" name="idUser" value="1">
                <input type="hidden" name="idMovie" value="1">
                <button type="submit">Reservar filme</button>
            </form>
        </div>
    </div>
</section>

<script src="~/js/jquery-1.7.2.min.js"></script>
<script src="~/js/script.js"></script>
