@{
    ViewData["Title"] = "Seja Bem Vindo";
}

<section class="mainContainer loginScreen">
    <img src="~/images/logo.png" alt="Movie Check">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem neque maiores saepe, sed. Quaerat, ipsum id aperiam. Accusamus cum consequatur natus ex similique omnis labore debitis, corporis quia dignissimos possimus.</p>
    <p>Ainda não se cadastrou? <a asp-controller="User" asp-action="Register">Clique aqui!</a></p>
</section>

<section class="mainContainer loginScreen">
    <div class="loginBox">
        <form asp-controller="Home" asp-action="Index" method="post">
            <legend><h2>Efetue o login</h2></legend>
            <label for="email">
                <input type="email" name="email" placeholder="Insira o seu e-mail." required>
            </label>
            <label for="pass">
                <input type="password" name="pass" placeholder="Insira a sua senha." required>
            </label>
            <button type="submit">Efetuar Login</button>
        </form>
        @{
            if (ViewBag.Error is null)
            {
                <p class="wrongPass"></p>
            }
            else
            {
                <p class="wrongPass">@ViewBag.Error</p>
            }
        }

        <a asp-controller="User" asp-action="ForgotPassword">Esqueci minha senha.</a>
    </div>
</section>

<aside class="developedBy">Desenvolvido por: <a href="http://www.devloopers.com.br" target="__blank"><img src="~/images/dvl_logo.png" alt="DevLoopers"></a></aside>