@{
    ViewData["Title"] = "Esqueceu a sua senha?";
}

<section class="mainContainer forgotPassContainer">
    <img src="~/images/logo.png" alt="Movie Check">
    <h2>Esqueceu a sua senha?</h2>
    <p>Preencha o seu e-mail e clique em "Enviar solicitação" para verificarmos o seu cadastro.</p>
    <p>@Html.ActionLink("Clique aqui", "Index", "Home") para retornar à página inicial.</p>
</section>
<section class="mainContainer forgotPassContainer">
    <!--
    <div class="forgotPassForm message">
        <i class="fa fa-check"></i>
        <p>Solicitação efetuada com sucesso.</p>
        <p>Foi enviado um e-mail para o endereço cadastrado contendo as informações para redefinição de senha.</p>
    </div>

    <div class="forgotPassForm message">
        <i class="fa fa-times"></i>
        <p>Falha ao enviar a solicitação. Contate o administrador do sistema.</p>
    </div>

    <div class="forgotPassForm message">
        <i class="fa fa-user-times"></i>
        <p>Este endereço de e-mail não foi encontrado em nosso sistema.</p>
    </div>
    -->
    <form action="" method="POST" class="forgotPassForm">
        <label for="email">
            <input type="email" name="email" placeholder="Insira aqui o e-mail." required>
        </label>
        <button type="submit">Enviar solicitação</button>
    </form>

</section>
<aside class="developedBy">Desenvolvido por: <a href="http://www.devloopers.com.br" target="__blank"><img src="~/images/dvl_logo.png" alt="DevLoopers"></a></aside>